.head{
	
	background-color: black;
	text-align: center;
	width: 100%;
	height: 70px;
}
.head h2{
	font-family: verdana;
	font-size: 35px;
	padding-top: 30px;
    color: white;
}


ul.nvbar{

list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;
background-color: black;
}

.nvbar li {
float: right;
}
 .nvbar li a{
display: block;
padding: 14px 16px;
color: white;
text-decoration: none;
 }
 .nvbar li a:link,a:active,a:visited{
 	
 	color: white;
 }
 .nvbar li a:hover{
 	background-color: red;
 }



.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
.footer p{
	padding-top: 3px;
	font-family: verdana;
	font-size: 14px;
}

.frmrg{
	border: 1px solid black;
	border-radius: 10px;
	padding:0px 10px 0px 10px;
	width:500px;
	height:450px;
	margin: 10px auto;
}

.frmrg p{
	text-align: center;
    font-family: verdana;
    font-size: 15px;
    background-color: black;
    color: white;
    padding:15px;
}

#bt{
	margin:0px 0px 5px 5px;
	padding: 2px 5px 2px 5px;
}

.frmlg{
	border: 1px solid black;
	border-radius: 10px;
	padding:0px 10px 0px 10px;
	width:400px;
	height:300px;
	margin: 40px auto;
}

.frmlg p{
	text-align: center;
    font-family: verdana;
    font-size: 15px;
    background-color: black;
    color: white;
    padding:15px;
}

#btn{

	padding: 2px 5px 2px 5px;
}
#q{
background-color: red;

}


table {
	border: 1px solid black;
}

 th{
	background-color: red;
}
















